POSTGRES_DB=quality_system
POSTGRES_USER=quality_user
POSTGRES_PASSWORD=troque_por_uma_senha_forte
JWT_SECRET=troque_por_um_segredo_longo_e_aleatorio
SETUP_KEY=troque_por_uma_chave_de_configuracao_longa
